
<h2> My routines</h2>
<ul>
<%  @routines.each do |routine| %>
 <li>
 	<%= link_to routine.name, routine_path(routine) %>
 	<%= button_to "delete #{routine.name}", routine_path(routine), method: :delete %>
 </li>
<% end %>
  <%=link_to "create new routine", new_routine_path %>
</br>

</ul>



