<h3><%=link_to @routine_pose.yoga_pose.name, @routine_pose %></h3>

<%= button_to "remove #{@routine_pose.yoga_pose.name} from your #{@routine_pose.routine.name} routine", routine_pose_path, method: :delete %>
