
<h2>Yoga Poses</h2>

<h4> Search by Body Area</h4>
<h7> Search by any of the following: </br> legs, back, chest and shoulders, hips, abdominals or arms. </h7>
<%= form_tag(yoga_poses_path, method: :get) do %>
<%= text_field_tag(:search, params[:searcb]) %>
<%= submit_tag("Search") %>
<% end %>


<ul>
<% @yoga_poses.each do |pose| %>
<li>
<%= link_to pose.name, yoga_pose_path(pose) %>
</li>
<% end %>

</ul>
