
<h2>Yoga Poses</h2>

<h4> Search by Body Area</h4>
<%= form_tag(yoga_poses_path, method: :get) do %>`
<%= collection_select :body_area, :id, @bodies, :id, :name, selected: @body.id %>
<%#= text_field_tag(:search, params[:search]) %>
<%# //another idea is to use select vs collection_select
can use collection_select vs f.collection_select with simple form select("search", "id", @bodies.all.map(&:name)) %>
<%= submit_tag("Search Options") %>
<% end %>


<ul>
<% @yoga_poses.each do |pose| %>
<li>
<%= link_to pose.name, yoga_pose_path(pose) %>
</li>
<% end %>

</ul>
