
<div class="row">
  <div class="col s9">
    <div class="card blue-grey lighten-4">  <!-- create the card -->
      <div class="card-image">              <!-- card image -->
           <img src=<%= @yoga_pose.img_url %>> <!-- img -->
<div class="card-content">            <!-- card text -->
  <h3><%= @yoga_pose.name %></h3>
        <p>Brief description: <%= @yoga_pose.description %></p>
      </br>
        <p>Level of difficulty: <%=@yoga_pose.difficulty_level %></p>
    </div>
  </div>
  <div class="col s9">

  	</div>
</div>
